<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/anwar_resala_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnwarResala"
        tools:targetApi="35"
        tools:ignore="MissingClass">

        <activity
            android:name="com.kareimt.anwarresala.ui.theme.screens.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Beneficiary Activities -->
        <activity
            android:name = "com.kareimt.anwarresala.ui.theme.screens.BeneficiaryActivity"
            android:exported = "true"/>
        <activity
            android:name = "com.kareimt.anwarresala.ui.theme.screens.courses_screens.AllTheCourses"
            android:exported = "true"/>
        <activity
            android:name = "com.kareimt.anwarresala.ui.theme.screens.courses_screens.OnlineCourses"
            android:exported = "true"/>
        <activity
            android:name = "com.kareimt.anwarresala.ui.theme.screens.courses_screens.OfflineCourses"
            android:exported = "true"/>
        <activity
            android:name = "com.kareimt.anwarresala.ui.theme.screens.CourseDetailsActivity"
            android:exported = "true"/>
        <activity
            android:name = "com.kareimt.anwarresala.ui.theme.screens.BranchCoursesActivity"
            android:exported = "true"/>
        <activity
            android:name = "com.kareimt.anwarresala.ui.theme.screens.courses_screens.BCSpecificActivity"
            android:exported = "true"/>

        <!-- Volunteer Activities -->
        <activity
            android:name = "com.kareimt.anwarresala.ui.theme.screens.login_screens.RegistrationActivity"
            android:exported = "true"/>
        <activity
            android:name = "com.kareimt.anwarresala.ui.theme.screens.login_screens.LoginActivity"
            android:exported = "true"/>
        <activity
            android:name = "com.kareimt.anwarresala.ui.theme.screens.login_screens.ForgetPasswordActivity"
            android:exported = "true"/>


    </application>

</manifest>